@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2>@ViewData["Developer"]</h2>
    <p>@ViewData["Message"]</p>

    <address>
        <strong>
            More Information: <a href="https://github.com/DinizJoao/WebMVC">DinizJoao - MVC</a>
        </strong>
    </address>
</div>
